# HubSpot
NEXT_PUBLIC_HUBSPOT_PORTAL_ID=TU_PORTAL_ID
NEXT_PUBLIC_HUBSPOT_FORM_LM=TU_FORM_ID_LEAD_MAGNET
NEXT_PUBLIC_HUBSPOT_FORM_NL=TU_FORM_ID_NEWSLETTER

# Video (Bunny.net o YouTube embed URL)
NEXT_PUBLIC_VIDEO_URL=https://iframe.mediadelivery.net/embed/TU_LIBRARY_ID/TU_VIDEO_ID
